.form_input{
    width: 715px;
    border: 1px solid;
    background-color: #171c20;
    color:#bfbfbf;
    margin-bottom: 10px;
}

.form_textarea{
    margin-bottom: 0px;
    height: 400px;
    width: 689px;
    padding: 10px 12px;
    resize: vertical;
    background-color: #171c20;
    color:#bfbfbf;
}

label {
    cursor: default;
}

.form_label {
    display: block;
    padding: 0 0 5px;
    font-size: 13px;
}

.form_button{
    border: 0;
    height: 30px;
    background-color: #567842;
    color: #fff;
    width: 100%;
}
