{% extends 'base.html' %}

{% block content %}

    <form class="search-form" method="GET">
        <div>
            <input type="text" placeholder="Копай сам..." name="text" value="{{ request.args.get('text', '') }}">
        </div>
        <button type="submit" class="submit-search">Найти</button>
    </form>

    {% if coolstories is defined %}

        <div class="pager_wrap">
            <ul class="pagination" >

                <li>
                    <a {% if not pages.has_prev %} class="disabled" {% else %} class="arrow" {% endif %} href="{{ url_for('posts.post_search', page = pages.prev_num) }}?text={{ q }}">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="8.906" height="18"
                    viewBox="0 0 210 210"
                    style=" fill:#000000;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                              stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                              stroke-dashoffset="0" font-family="none"
                                              font-size="none" style="mix-blend-mode: normal">
                        <path d="M0,210v-210h210v210z"fill="none"></path>
                            <g fill="#bfbfbf">
                                <g id="surface1">
                                    <path d="M160.27644,29.27885c-0.63101,0.1262 -1.41977,0.18931 -2.01923,
                                    0.50481l-113.07692,56.53846c-3.21814,1.60908 -4.79567,4.10157 -4.79567,
                                    7.31971v22.71635c0,3.21815 1.57753,5.71064 4.79567,7.31971l113.07692,
                                    56.53846c4.85878,2.42938 11.35817,-1.67217 11.35817,-7.31971v-14.63942c0,
                                    -3.21815 -2.36629,-5.71064 -4.79567,-7.31971l-91.875,-45.9375l91.875,
                                    -45.9375c3.21815,-1.60908 4.79567,-4.10156 4.79567,-7.31971v-14.63942c0,
                                    -4.95342 -4.85877,-8.58173 -9.33894,-7.82452z"></path></g></g></g></svg>
                    </a>
                </li>

                {% for page_index in pages.iter_pages() %}
                    <li >
                        <a {% if page_index == pages.page %} class="active" {% endif %} href="{{ url_for('posts.post_search', page = page_index) }}?text={{ q }}">
                            <span>{{ page_index }}</span>
                        </a>
                    </li>
                {% endfor %}

                <li>
                    <a {% if not pages.has_next %} class="disabled" {% else %} class="arrow" {% endif %}  href="{{ url_for('posts.post_search', page = pages.next_num) }}?text={{ q }}">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="8.906" height="18"
                    viewBox="0 0 210 210"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" style="mix-blend-mode: normal"><path d="M0,210v-210h210v210z" fill="none"></path><g fill="#bfbfbf"><g id="surface1"><path d="M47.95673,29.27885c-3.84915,0.37861 -7.57212,3.59676 -7.57212,7.82452v14.63942c0,3.21815 1.57753,5.71063 4.79567,7.31971l91.875,45.9375l-91.875,45.9375c-3.21814,1.60908 -4.79567,4.10157 -4.79567,7.31971v14.63942c0,5.64754 6.4994,9.7491 11.35817,7.31971l113.07692,-56.53846c3.21815,-1.60908 4.79567,-4.10156 4.79567,-7.31971v-22.71635c0,-3.21814 -2.36629,-5.71064 -4.79567,-7.31971l-113.07692,-56.53846c-1.19891,-0.59946 -2.49249,-0.63101 -3.78606,-0.50481z"></path></g></g></g></svg>
                    </a>
                </li>
            </ul>
        </div>

        {%  for post in pages.items %}
            <article class="post">
                <div class="post_frame">
                    <header class="post_head">
                        <a class="post_header_link" href="{{ url_for('posts.post_detail', slug=post.slug) }}"> #{{ post.id }} </a>
                    </header>
                    <div class="post_body">
                        {{ post.body|nl2br }}
                    </div>
                    <footer class="post_footer">
                        <div class="post_button dislike" role="button" aria-label="Дизлукас" tabindex="0" title="Дизлукас">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 25 25" fill="currentColor"><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"></path></svg>
                        </div>
                        <div class="post_total">{{ post.rating }}</div>
                        <div class="post_button like"  role="button" aria-label="Лукас" tabindex="0" title="Лукас">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 25 25" fill="currentColor"><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z"></path></svg>
                        </div>
                        <div class="post_footer_date">
                            {{ post.date.year}}.{{ post.date.month }}.{{ post.date.day }} в{{ post.date.hour }}:{{ post.date.minute }}
                        </div>
                    </footer>
                </div>
            </article>
        {% endfor %}
    {% else %}
        {% if messgae is defined %}
            <p>По запросу "{{ messgae }}" ничего не найдено</p>
        {% endif %}
    {% endif %}

{% endblock %}

