{% extends 'base.html' %}

{% block content %}
    <form class="search-form" method="GET">
        <div>
            <input type="text" placeholder="Копай сам..." name="text" value="{{ request.args.get('text', '') }}">
        </div>
        <button type="submit" class="submit-search">Найти</button>
    </form>

    {% if coolstories != '' %}
        {%  for post in coolstories %}
            <article class="post">
                <div class="post_frame">
                    <header class="post_head">
                        <a class="post_header_link" href="{{ url_for('posts.post_detail', slug=post.slug) }}"> #{{ post.id }} </a>
                    </header>
                    <div class="post_body">
                        {% set post_strings_list = post.body.split('<BR>') %}
                        {% for post_string in post_strings_list %}
                            {{ post_string }}<br>
                        {% endfor %}
                    </div>
                    <footer class="post_footer">
                        <div class="post_button dislike" role="button" aria-label="Дизлукас" tabindex="0" title="Дизлукас">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 25 25" fill="currentColor"><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"></path></svg>
                        </div>
                        <div class="post_total">{{ post.rating }}</div>
                        <div class="post_button like"  role="button" aria-label="Лукас" tabindex="0" title="Лукас">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 25 25" fill="currentColor"><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z"></path></svg>
                        </div>
                        <div class="post_footer_date">
                            {{ post.date.year}}.{{ post.date.month }}.{{ post.date.day }} в{{ post.date.hour }}:{{ post.date.minute }}
                        </div>
                    </footer>
                </div>
            </article>
        {% endfor %}
    {% endif %}

    {% if  coolstories == '' %}
        <p>Ничего не найдено</p>
    {% endif %}
{% endblock %}

